<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
    <section v-if="address !== undefined">
      <div class="container">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Basic Information
            </p>
            <span class="card-header-icon">
              <font-awesome :icon="infoIcon"></font-awesome>
            </span>
          </header>
          <div class="card-content">
            <div class="columns">
              <div class="column is-two-thirds">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>Balance</td>
                    <td>{{ address.value }}</td>
                  </tr>
                  <tr>
                    <td>Number of transactions</td>
                    <td>{{ address.transactions.count }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="column">
                <qriously :value="address.address" :size="128"></qriously>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="container">
          <recent-list title="Spends" :loading="spendLoad" :list="spends.edges" @click="trxClick"
                       @nextPage="nextSpendPage"
                       :totalCount="spends.count"
                       pagination
                       :fields="trxFields">
            <template slot="header">
              <p class="card-header-title">Spends</p>
              <span class="card-header-icon">
                <font-awesome :icon="outIcon"></font-awesome>
              </span>
            </template>
          </recent-list>
        </div>
      </section>
      <section class="section">
        <div class="container">
          <recent-list title="Receives" :loading="receiveLoad" :list="receives.edges" @click="trxClick"
                       @nextPage="nextReceivePage"
                       :totalCount="receives.count"
                       pagination
                       :fields="trxFields">
            <template slot="header">
              <p class="card-header-title">Receives</p>
              <span class="card-header-icon">
                <font-awesome :icon="inIcon"></font-awesome>
              </span>
            </template>
          </recent-list>
        </div>
      </section>
    </section>
    <section v-else class="section">
      <b-loading :active="loading > 0"></b-loading>
    </section>
  </section>
</template>


<script>
  import FontAwesome from '@fortawesome/vue-fontawesome';
  import Chevron from '@fortawesome/fontawesome-pro-solid/faChevronRight';
  import faInfo from '@fortawesome/fontawesome-pro-solid/faInfoSquare';
  import faInboxOut from '@fortawesome/fontawesome-pro-solid/faInboxOut';
  import faInbotIn from '@fortawesome/fontawesome-pro-solid/faInboxIn';

  import { addressDetails, addressReceives, addressSpends } from "../../apollo/block";
  import HashColor from '@/components/hashcolor';
  import RecentList from '@/components/RecentList';
  import HeaderSmall from '@/components/header-small';
  import BlockNavbar from "../../components/blocknavbar";

  export default {
    name: 'address-view',
    components: {
      BlockNavbar,
      HeaderSmall,
      FontAwesome,
      RecentList,
      HashColor,
    },
    validate({ params }) {
      return params.index.length === 34;
    },
    data() {
      return ({
        breadcrumbs: ['Address', this.$route.params.index],
        address: undefined,
        spends: {},
        receives: {},
        loading: 0,
        spendLoad: 0,
        receiveLoad: 0,
        trxFields: [
          {
            name: 'node.transaction.id',
            label: 'Transaction ID',
            hashcolor: true,
          },
          {
            name: 'node.transaction.time',
            label: 'Time',
            datetime: true,
          },
          {
            name: 'node.value',
            label: 'Value',
            numeric: true,
          }
        ],
      });
    },
    apollo: {
      address: {
        query: addressDetails,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        loadingKey: 'loading',
      },
      spends: {
        query: addressSpends,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        loadingKey: 'spendLoad',
        update(data) {
          return data.address.spends;
        }
      },
      receives: {
        query: addressReceives,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        loadingKey: 'receiveLoad',
        update(data) {
          return data.address.receives;
        }
      }
    },
    computed: {
      infoIcon() {
        return faInfo;
      },
      chevron() {
        return Chevron;
      },
      inIcon() {
        return faInbotIn;
      },
      outIcon() {
        return faInboxOut;
      },
      nextSpendCursor() {
        if (this.spends.edges) {
          const last = this.spends.edges[this.spends.edges.length - 1];
          return last.cursor;
        }
        return '';
      },
      nextReceiveCursor() {
        if (this.receives.edges) {
          const last = this.receives.edges[this.receives.edges.length - 1];
          return last.cursor;
        }
        return '';
      }
    },
    methods: {
      nextSpendPage() {
        this.$apollo.queries.spends.fetchMore({
          variables: {
            cursor: this.nextSpendCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            return fetchMoreResult;
          }
        })
      },
      nextReceivePage() {
        this.$apollo.queries.receives.fetchMore({
          variables: {
            cursor: this.nextReceiveCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            return fetchMoreResult;
          }
        })
      },
      trxClick(row) {
        this.$router.push(`/transaction/${row.node.transaction.id}`);
      },
    },
  }
</script>
