// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #798293;
$primary-invert: findColorInvert($primary);
$info: #57223E;
$info-invert: findColorInvert($info);
$danger: #C6AF72;
$danger-invert: findColorInvert($danger);
$success: #BB582C;
$success-invert: findColorInvert($success);
$warning: #6D252F;
$warning-invert: findColorInvert($warning);

//$background: #a9a9a9;
//$body-background-color: #df4118f;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
