<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
    <section v-if="block !== undefined">
      <div class="container">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Block Information
            </p>
            <span class="card-header-icon">
              <font-awesome :icon="infoIcon"></font-awesome>
            </span>
          </header>
          <div class="card-content">
            <div class="columns">
              <div class="column">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>Height</td>
                    <td>{{ block.height }}</td>
                  </tr>
                  <tr>
                    <td>Confirmations</td>
                    <td>{{ block.confirmations }}</td>
                  </tr>
                  <tr>
                    <td>Time</td>
                    <td>{{ niceDate(block.time) }}</td>
                  </tr>
                  <tr>
                    <td>Difficulty</td>
                    <td>{{ block.difficulty }}</td>
                  </tr>
                  <tr>
                    <td>Transaction Count</td>
                    <td>{{ trxLength }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="column">
                <table class="table">
                  <tbody>
                  <tr>
                    <td>Size</td>
                    <td>{{ block.size }}</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>{{ block.weight }}</td>
                  </tr>
                  <tr>
                    <td>Nonce</td>
                    <td>{{ block.nonce }}</td>
                  </tr>
                  <tr>
                    <td>Version</td>
                    <td>{{ block.version }}</td>
                  </tr>
                  <tr>
                    <td>Chainwork</td>
                    <td><hash-color :value="block.chainwork"></hash-color></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="container">
          <recent-list title="Transactions" :loading="loading" :list="block.transactions"
                       :fields="trxFields" @click="trxClick">
            <template slot="header">
              <p class="card-header-title">Transactions</p>
              <span class="card-header-icon">
                <font-awesome :icon="moneyIcon"></font-awesome>
              </span>
            </template>
          </recent-list>
        </div>
      </section>
    </section>
    <section v-else class="section">
      <b-loading :active="loading > 0"></b-loading>
    </section>
  </section>
</template>


<script>
  import { DateTime } from 'luxon';
  import FontAwesome from '@fortawesome/vue-fontawesome';
  import faInfo from '@fortawesome/fontawesome-pro-solid/faInfoSquare';
  import faMoney from '@fortawesome/fontawesome-pro-solid/faMoneyBill';

  import { blockdetails } from "../../apollo/block";
  import RecentList from '~/components/RecentList';
  import HeaderSmall from '@/components/header-small';
  import BlockNavbar from '@/components/blocknavbar';
  import HashColor from "../../components/hashcolor";

  export default {
    name: 'block-view',
    components: {
      HashColor,
      HeaderSmall,
      FontAwesome,
      RecentList,
      BlockNavbar,
    },
    validate({ params }) {
      return params.index.length === 64;
    },
    data() {
      return ({
        breadcrumbs: ['Block', this.$route.params.index],
        block: {},
        loading: 0,
        trxFields: [
          {
            name: 'id',
            label: 'ID',
            hashcolor: true,
          },
          {
            name: 'hash',
            label: 'Hash',
            hashcolor: true,
          },
          {
            name: 'size',
            label: 'Size',
            numeric: true,
          },
          {
            name: 'value',
            label: 'Value',
            numeric: true,
          }
        ],
      });
    },
    apollo: {
      block: {
        query: blockdetails,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        loadingKey: 'loading',
      },
    },
    computed: {
      infoIcon() {
        return faInfo;
      },
      moneyIcon() {
        return faMoney;
      },
      trxLength() {
        return this.block.transactions ? this.block.transactions.length : 0;
      }
    },
    methods: {
      trxClick(row) {
        this.$router.push(`/transaction/${row.id}`);
      },
      niceDate(date) {
        return DateTime.fromISO(date).toLocal().toLocaleString(DateTime.DATETIME_MED_WITH_SECONDS);
      },
    },
  }
</script>
