<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
    <section>
      <div class="container">
        <div class="content">
          <recent-list
            :loading="loading"
            :list="blocks.edges"
            :fields="blockFields"
            pagination
            :totalCount="blocks.count"
            @nextPage="nextPage"
            @click="blockClick">
          </recent-list>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import Chevron from '@fortawesome/fontawesome-pro-solid/faChevronRight';
  import { blocks } from '~/apollo/block';
  import RecentList from '~/components/RecentList';
  import HeaderSmall from '~/components/header-small';
  import BlockNavbar from "../components/blocknavbar";


  export default {
    name: 'blocks',
    components: {
      BlockNavbar,
      RecentList,
      HeaderSmall,
      FontAwesomeIcon,
    },
    data() {
      return {
        breadcrumbs: ['Blocks'],
        blocks: {},
        loading: 0,
        blockFields: [
          {
            name: 'node.height',
            label: 'Height',
            numeric: true,
          },
          {
            name: 'node.hash',
            label: 'Hash',
            hashcolor: true,
          },
          {
            name: 'node.time',
            label: 'Time',
            datetime: true,
          }
        ],
      };
    },
    apollo: {
      blocks: {
        query: blocks,
        loadingKey: 'loading',
      },
    },
    computed: {
      chevron() {
        return Chevron;
      },
      nextCursor() {
        if (this.blocks.edges) {
          const last = this.blocks.edges[this.blocks.edges.length - 1];
          return last.cursor;
        }
        return '';
      }
    },
    methods: {
      nextPage() {
        this.$apollo.queries.blocks.fetchMore({
          variables: {
            cursor: this.nextCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            return fetchMoreResult;
          }
        })
      },
      blockClick(row) {
        this.$router.push(`/block/${row.node.hash}`);
      },
    },
  }
</script>
