<template>
  <div>
    <section class="hero is-primary is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            BlockQL - {{ coinname }}
          </h1>
          <div class="columns is-tablet">
            <div class="column is-11">
              <b-field>
                <b-input
                  size="is-large"
                  v-model="search"
                  placeholder="Search for anything..."
                  @keyup.enter.native="goSearch"
                  type="search" rounded expanded>
                </b-input>
                <nuxt-link :to="`/search?q=${search}`" class="control">
                  <button class="button is-large is-warning is-rounded">Go!</button>
                </nuxt-link>
              </b-field>
            </div>
            <div class="column is-1 is-offset-5-mobile">
              <b-tooltip label="Scan QR code" position="is-bottom" type="is-dark">
                <button class="button is-large is-rounded is-info" @click="readQR = true">
                  <font-awesome-icon :icon="qrIcon" ></font-awesome-icon>
                </button>
              </b-tooltip>
            </div>
          </div>
        </div>

          <section class="section" v-if="readQR || qrError">
            <div class="level">
              <div class="container">
                <div class="columns">
                  <div class="column is-4 is-offset-4">
                    <b-notification v-if="qrError" type="is-danger" @close="qrError = undefined">{{ qrError }}</b-notification>
                    <qrcode-reader v-else-if="readQR" @decode="onDecode" @init=onInit :pause="pauseCam"></qrcode-reader>
                  </div>
                </div>
              </div>
            </div>
          </section>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <nav class="level">
          <div class="level-item">
            <recent-list title="Recent Blocks" :loading="recentLoading" :list="recents"
                         footer="Explore all blocks" :fields="blockFields" @click="blockClick">
              <nuxt-link to="/blocks">Explore all blocks</nuxt-link>
            </recent-list>
          </div>
          <div class="level-item">
            <div class="tile is-ancestor">
              <div class="tile is-vertical">
                <div class="tile">
                  <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-success has-text-centered">
                      <p class="title">Difficulty {{ difficulty }}</p>
                    </article>
                    <article class="tile is-child is-vertical notification is-warning has-text-centered">
                      <p class="title">Network Hash {{ networkHash }}</p>
                    </article>
                    <article class="tile is-child is-vertical notification is-info has-text-centered">
                      <p class="title">USD {{ price }}</p>
                    </article>
                    <article class="tile is-child is-vertical notification is-primary has-text-centered">
                      <p class="title"><nuxt-link to="/richlist">Top 100 Addresses</nuxt-link></p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="level-item">
            <recent-list title="Recent Transactions" :loading="recentLoading" :list="recentTransactions"
                         footer="Explore all transactions" :fields="trxFields" @click="trxClick">
              <nuxt-link to="/transactions">Explore all transactions</nuxt-link>
            </recent-list>
          </div>
        </nav>
      </div>
    </section>
  </div>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import faQRCode from '@fortawesome/fontawesome-pro-solid/faQrcode';
  import 'vue-qrcode-reader/dist/vue-qrcode-reader.css';
  import { QrcodeReader } from 'vue-qrcode-reader';

  import RecentList from '~/components/RecentList';
  import { recentInfo, networkInfo, priceInfo } from '~/apollo/block';
  import { coin } from "../assets/config";

  export default {
    name: 'index',
    components: {
      RecentList,
      FontAwesomeIcon,
      QrcodeReader,
    },
    data() {
      return {
        search: '',
        recents: [],
        recentLoading: 0,
        readQR: false,
        initCam: false,
        pauseCam: true,
        qrError: undefined,
        networkHash: '...',
        price: '...',
        blockFields: [
          {
            name: 'height',
            label: 'Height',
            numeric: true,
          },
          {
            name: 'hash',
            label: 'Hash',
            hashcolor: true,
          },
        ],
        trxFields: [
          {
            name: 'id',
            label: 'ID',
            hashcolor: true,
          },
          {
            name: 'value',
            label: 'Value',
            numeric: true,
          }
        ]
      };
    },
    apollo: {
      recents:{
        query: recentInfo,
        loadingKey: 'recentLoading',
        update(data) {
          return data.blockchain.recentBlocks;
        },
        pollInterval: '30000',
      },
      networkHash: {
        query: networkInfo,
        loadingKey: 'recentLoading',
        update(data) {

          if (data.blockchain.networkHash > 1000000) {
            return `${(data.blockchain.networkHash / 1000000).toFixed(4)} Mh/s`
          } else if (data.blockchain.networkHash > 1000000000) {
            return `${(data.blockchain.networkHash / 1000000000).toFixed(4)} Gh/s`
          }

          return `${(data.blockchain.networkHash)} h/s`;
        },
        pollInterval: '29000',
      },
      price:{
        query: priceInfo,
        loadingKey: 'recentLoading',
        update(data) {
          return data.blockchain.price;
        },
        pollInterval: '31000',
      },
    },
    computed: {
      recentTransactions() {
        if (this.recents.length === 0) {
          return [];
        }

        return this.recents.reduce((prev, block) => {
         return prev.concat(block.transactions)
        }, []).slice(0, 10);
      },
      qrIcon() {
        return faQRCode;
      },
      difficulty() {
        if (this.recents.length > 0) {
          return this.recents[0].difficulty;
        }
        return '...';
      },
      coinname() {
        return coin;
      }
    },
    methods: {
      goSearch() {
        this.$router.push(`/search?q=${this.search}`);
      },
      blockClick(row) {
        this.$router.push(`/block/${row.hash}`);
      },
      trxClick(row) {
        this.$router.push(`/transaction/${row.id}`);
      },
      async onInit(promise) {
        try {
          await promise
        } catch (error) {
          this.qrError = `Issue with webcam ${error.message}`;
          this.readQR = false;
          return;
        }
        this.qrError = null;
      },
      onDecode(content) {
        this.pauseCam = true;
        this.$router.push(`/search?q=${content}`)
      }
    },
  };
</script>
