<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
    <section>
      <div class="container">
        <div class="content">
          <recent-list
            :loading="loading"
            :list="richlist"
            :fields="richFields"
            @click="addClick">
          </recent-list>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import Chevron from '@fortawesome/fontawesome-pro-solid/faChevronRight';
  import { richlist } from '~/apollo/block';
  import RecentList from '~/components/RecentList';
  import HeaderSmall from '~/components/header-small';
  import BlockNavbar from "../components/blocknavbar";


  export default {
    name: 'richlist',
    components: {
      BlockNavbar,
      RecentList,
      HeaderSmall,
      FontAwesomeIcon,
    },
    data() {
      return {
        breadcrumbs: ['Rich List'],
        richlist: {},
        loading: 0,
        richFields: [
          {
            name: 'rank',
            label: 'Rank',
            numeric: true,
          },
          {
            name: 'address',
            label: 'Address',
            tag: true,
          },
          {
            name: 'value',
            label: 'Value',
            numeric: true,
          }
        ],
      };
    },
    apollo: {
      richlist: {
        query: richlist,
        loadingKey: 'loading',
        update(data) {
          return data.blockchain.richlist;
        },
      },
    },
    methods: {
      addClick(row) {
        this.$router.push(`/address/${row.address}`);
      },
    },
  }
</script>
