<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
    <template v-if="search">
      <section class="section">
        <div class="container">
          <recent-list title="Blocks"
                       :list="search.blocks"
                       :fields="blockFields"
                       @click="blockClick"
                       :loading="loading">
          </recent-list>
        </div>
      </section>
      <section class="section">
        <div class="container" >
          <recent-list title="Transactions"
                       :list="search.transactions"
                       :fields="trxFields"
                       @click="trxClick"
                       :loading="loading">
          </recent-list>
        </div>
      </section>
      <section class="section">
        <div class="container" >
          <recent-list title="Addresses"
                       :list="search.addresses"
                       :fields="addressFields"
                       @click="addClick"
                       :loading="loading">
          </recent-list>
        </div>
      </section>
    </template>
    <b-loading :active="loading > 0"></b-loading>
  </section>
</template>

<script>
  import { search } from '~/apollo/block';
  import RecentList from '~/components/RecentList';
  import HeaderSmall from '~/components/header-small';
  import BlockNavbar from '~/components/blocknavbar';

  export default {
    name: 'search',
    components: {
      RecentList,
      HeaderSmall,
      BlockNavbar,
    },
    watchQuery: ['q'],
    validate({ query }) {
      console.log(query);
      return !(!query.q || query.q.length < 1);
    },
    data() {
      return {
        breadcrumbs: ['Search', this.$route.query.q],
        search: undefined,
        loading: 0,
        blockFields: [
          {
            name: 'height',
            label: 'Height',
            numeric: true,
          },
          {
            name: 'hash',
            label: 'Hash',
            hashcolor: true,
          },
          {
            name: 'time',
            label: 'Time',
            datetime: true,
          },
        ],
        trxFields: [
          {
            name: 'id',
            label: 'ID',
            hashcolor: true,
          },
          {
            name: 'time',
            label: 'Time',
            datetime: true,
          },
          {
            name: 'value',
            label: 'Value',
            numeric: true,
          },
        ],
        addressFields: [
          {
            name: 'address',
            label: 'Address',
            tag: true,
          },
        ]
      };
    },
    apollo: {
      search: {
        query: search,
        variables() {
          return {
            hash: this.searchTerm,
            id: this.searchTerm,
            address: this.searchTerm,
            height: parseInt(this.searchTerm, 10) || null,
          };
        },
        loadingKey: 'loading',
      },
    },
    computed: {
      searchTerm() {
        return this.$route.query.q;
      },
    },
    methods :{
      blockClick(row) {
        this.$router.push(`/block/${row.hash}`);
      },
      addClick(row) {
        this.$router.push(`/address/${row.address}`);
      },
      trxClick(row) {
        this.$router.push(`/transaction/${row.id}`)
      },
    },
  };
</script>
