<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
    <section>
      <div class="container">
        <div class="content">
          <recent-list
            :loading="loading"
            :list="transactions.edges"
            :fields="trxFields"
            pagination
            :totalCount="transactions.count"
            @nextPage="nextPage"
            @click="trxClick">
          </recent-list>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import Chevron from '@fortawesome/fontawesome-pro-solid/faChevronRight';
  import { transactions } from '~/apollo/block';
  import RecentList from '~/components/RecentList';
  import HeaderSmall from '~/components/header-small';
  import BlockNavbar from "../components/blocknavbar";


  export default {
    name: 'transactions',
    components: {
      BlockNavbar,
      RecentList,
      HeaderSmall,
      FontAwesomeIcon,
    },
    data() {
      return {
        breadcrumbs: ['Blocks'],
        transactions: {},
        loading: 0,
        trxFields: [
          {
            name: 'node.id',
            label: 'Transaction ID',
            hashcolor: true,
          },
          {
            name: 'node.time',
            label: 'Time',
            datetime: true,
          },
          {
            name: 'node.value',
            label: 'value',
          },
        ],
      };
    },
    apollo: {
      transactions: {
        query: transactions,
        loadingKey: 'loading',
      },
    },
    computed: {
      chevron() {
        return Chevron;
      },
      nextCursor() {
        if (this.transactions.edges) {
          const last = this.transactions.edges[this.transactions.edges.length - 1];
          return last.cursor;
        }
        return '';
      },
    },
    methods: {
      nextPage() {
        this.$apollo.queries.transactions.fetchMore({
          variables: {
            cursor: this.nextCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            return fetchMoreResult;
          }
        })
      },
      trxClick(row) {
        this.$router.push(`/transaction/${row.node.id}`);
      },
    },
  }
</script>
