<template>
  <section>
    <header-small></header-small>
    <block-navbar :items="breadcrumbs"></block-navbar>
      <section v-if="transaction !== undefined && trxin !== undefined && trxout !== undefined">
        <div class="container">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Transaction Information
              </p>
              <span class="card-header-icon">
              <font-awesome :icon="infoIcon"></font-awesome>
            </span>
            </header>
            <div class="card-content">
              <table class="table">
                <tbody>
                <tr>
                  <td>Confirmations</td>
                  <td>{{ transaction.block.confirmations }}</td>
                </tr>
                <tr>
                  <td>Value</td>
                  <td>{{ transaction.value }}</td>
                </tr>
                <tr>
                  <td>Size</td>
                  <td>{{ transaction.size }}</td>
                </tr>
                <tr>
                  <td>Time</td>
                  <td>{{ niceTime(transaction.block.time) }}</td>
                </tr>
                <tr>
                  <td>Block Hash</td>
                  <td><nuxt-link :to="`/block/${transaction.blockhash}`"><hash-color :value="transaction.blockhash"></hash-color></nuxt-link></td>
                </tr>
                <tr>
                  <td>Block Height</td>
                  <td><nuxt-link :to="`/block/${transaction.blockhash}`">{{ transaction.block.height }}</nuxt-link></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <section class="section">
          <div class="container">
            <div class="columns">
              <div class="column">
                <recent-list :title="true" :loading="loadIn" :list="trxin.edges"
                             pagination
                             :totalCount="trxin.count"
                             :fields="vinFields"
                             @nextPage="nextInPage"
                             @tagClick="addressClick"
                             @hashClick="trxClick">
                  <template slot="header">
                    <p class="card-header-title">Inputs</p>
                    <span class="card-header-icon">
                <font-awesome :icon="inIcon"></font-awesome>
              </span>
                  </template>
                </recent-list>
              </div>
              <div class="column is-narrow">
                <recent-list title="Outputs" :loading="loadOut" :list="trxout.edges"
                             pagination
                             :totalCount="trxout.count"
                             :fields="voutFields"
                             @nextPage="nextOutPage"
                             @click="addressClick">
                  <template slot="header">
                    <p class="card-header-title">Outputs</p>
                    <span class="card-header-icon">
                <font-awesome :icon="outIcon"></font-awesome>
              </span>
                  </template>
                </recent-list>
              </div>
            </div>
          </div>
        </section>
      </section>
      <section v-else class="section">
        <b-loading :active="loading > 0 || loadIn > 0 || loadOut > 0"></b-loading>
      </section>
  </section>
</template>


<script>
  import { DateTime } from 'luxon';
  import FontAwesome from '@fortawesome/vue-fontawesome';
  import faInfo from '@fortawesome/fontawesome-pro-solid/faInfoSquare';
  import faInboxOut from '@fortawesome/fontawesome-pro-solid/faInboxOut';
  import faInbotIn from '@fortawesome/fontawesome-pro-solid/faInboxIn';

  import { transactionDetails, trxVIN, trxVOut } from "../../apollo/block";
  import HashColor from '~/components/hashcolor';
  import RecentList from '~/components/RecentList';
  import HeaderSmall from '@/components/header-small';
  import BlockNavbar from '@/components/blocknavbar';

  export default {
    name: 'trx-view',
    components: {
      HeaderSmall,
      FontAwesome,
      RecentList,
      HashColor,
      BlockNavbar,
    },
    validate({ params }) {
      return params.index.length === 64;
    },
    data() {
      return ({
        breadcrumbs: ['Transaction', this.$route.params.index],
        transaction: undefined,
        trxin: {},
        trxout: {},
        loading: 0,
        loadIn: 0,
        loadOut: 0,
        vinFields: [
          {
            name: 'node.coinbase',
            label: 'Coinbase',
            boolean: true,
          },
          {
            name: 'node.previousTransactionID',
            label: 'Transaction ID',
            hashcolor: true,
          },
          {
            name: 'node.addresses',
            label: 'Address',
            array: true,
          },
          {
            name: 'node.value',
            label: 'Value',
            numeric: true,
          }
        ],
        voutFields: [
          {
            name: 'node.index',
            label: 'Index',
            numeric: true,
          },
          {
            name: 'node.address',
            label: 'Address',
            tag: true,
          },
          {
            name: 'node.value',
            label: 'Value',
            numeric: true,
          },
        ]
      });
    },
    apollo: {
      transaction: {
        query: transactionDetails,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        loadingKey: 'loading',
      },
      trxin: {
        query: trxVIN,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        update(data) {
          return data.transaction.vin;
        },
        loadingKey: 'loadIn',
      },
      trxout: {
        query: trxVOut,
        variables() {
          return ({
            hash: this.$route.params.index,
          });
        },
        update(data) {
          return data.transaction.vout;
        },
        loadingKey: 'loadOut',
      },
    },
    computed: {
      infoIcon() {
        return faInfo;
      },
      inIcon() {
        return faInbotIn;
      },
      outIcon() {
        return faInboxOut;
      },
      nextInCursor() {
        if (this.trxin.edges) {
          const last = this.trxin.edges[this.trxin.edges.length - 1];
          return last.cursor;
        }
        return '';
      },
      nextOutCursor() {
        if (this.trxout.edges) {
          const last = this.trxout.edges[this.trxout.edges.length - 1];
          return last.cursor;
        }
        return '';
      }
    },
    methods: {
      niceTime(date){
        return DateTime.fromISO(date).toLocal().toLocaleString(DateTime.DATETIME_MED_WITH_SECONDS);
      },
      addressClick(row) {
        if (row.node.address) {
          this.$router.push(`/address/${row.node.address}`);
          return;
        }

        if (row.node.addresses && row.node.addresses.length > 0){
          this.$router.push(`/address/${row.node.addresses[0]}`);
          return;
        }
      },
      trxClick(row) {
        this.$router.push(`/transaction/${row.node.previousTransactionID}`);
      },
      nextInPage() {
        this.$apollo.queries.trxin.fetchMore({
          variables: {
            cursor: this.nextInCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            return fetchMoreResult;
          }
        })
      },
      nextOutPage() {
        this.$apollo.queries.trxout.fetchMore({
          variables: {
            cursor: this.nextOutCursor,
          },
          updateQuery: (previousResult, { fetchMoreResult }) => {
            return fetchMoreResult;
          }
        })
      },
    },
  }
</script>
