<template>
  <section>
    <div class="container">
      <nav class="breadcrumb is-large has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><nuxt-link to="/">BlockQL</nuxt-link></li>
          <li class="is-active" :key="item" v-for="item in items"><a>{{ item }}</a></li>
        </ul>
      </nav>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'block-navbar',
    props: ['items']
  }
</script>

<style>
  .breadcrumb li.is-active a {
    list-style: none;
    pointer-events: all !important;
    user-select: text !important;
  }
</style>
