<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <strong>BlockQL</strong>
        <p>Donations Appreciated</p>
        <p :key="address" v-for="address in addresses">{{ address }}</p>
      </div>
    </div>
  </footer>
</template>

<script>
  import { addresses } from "../assets/config";

  export default {
    name: 'my-footer',
    computed: {
      addresses() {
        return addresses;
      }
    }
  }
</script>
