<template>
  <span>
    {{ begin }}
    <b-tooltip :label="value">
      <font-awesome-icon :icon="icon" :key="i" v-for="(c, i) in colors" :style="{ color: `#${c}` }" ></font-awesome-icon>
    </b-tooltip>
    {{ end }}
  </span>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import faRectangle from '@fortawesome/fontawesome-pro-solid/faRectanglePortrait';

  export default {
    name: 'hash-color',
    components:{
      FontAwesomeIcon,
    },
    props: {
      value: {
        type: String,
        required: true,
      },
    },
    computed: {
      icon() {
        return faRectangle;
      },
      splitVal() {
        if (this.value == undefined || this.value === ''){
          return ['','',''];
        }
        return this.value.split("");
      },
      begin() {
        return `${this.splitVal[0]}${this.splitVal[1]}${this.splitVal[2]}`
      },
      end() {
        const e = this.splitVal.slice(-3);
        return `${e[0]}${e[1]}${e[2]}`;
      },
      colors() {
        const col = [];
        for (let i = 3; i < (this.splitVal.length - 6); i+=6) {
          col.push(`${this.splitVal[i]}${this.splitVal[i+1]}${this.splitVal[i+2]}${this.splitVal[i+3]}${this.splitVal[i+4]}${this.splitVal[i+5]}`)
        }
        return col;
      }
    },
  }
</script>
