<template>
  <section class="hero is-primary is-small is-bold">
    <section class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand larger-text">
            <nuxt-link tag="div" to="/">BlockQL</nuxt-link>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <b-input v-model="search"
                         placeholder="Search for anything..."
                         @keyup.enter.native="goSearch">
                </b-input>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </section>
</template>

<script>
  export default {
    name: 'header-small',
    data() {
      return ({
        search: '',
      });
    },
    methods: {
      goSearch() {
        this.$router.push(`/search?q=${this.search}`);
      },
    },
  }
</script>

<style>
  .larger-text {
    font-size: 2em;
  }
</style>
