<template>
  <div class="card">
    <header v-if="title" class="card-header">
      <slot name="header">
        <p class="card-header-title">{{ title }}</p>
      </slot>
    </header>
    <div class="card-content">
      <b-table
        :data="list"
        :loading="loading > 0"
        hoverable
        @click="event">
        <template slot-scope="props">
          <b-table-column :key="field.name" v-for="field in fields" :field="field.name" :label="field.label" :numeric="field.numeric">
            <hashcolor v-if="field.hashcolor" :value="getValueByPath(props.row, field.name)" @click.native="hashClick(props.row)"></hashcolor>
            <template v-else-if="field.datetime">
              {{ niceDate(getValueByPath(props.row, field.name)) }}
            </template>
            <template v-else-if="field.boolean">
              <font-awesome-icon :icon="boolIcon(getValueByPath(props.row, field.name))"></font-awesome-icon>
            </template>
            <template v-else-if="field.array">
              <b-taglist>
                <b-tag type="is-info" :key="f" v-for="f in getValueByPath(props.row, field.name)" @click.native="tagClick(props.row)" >{{ f }}</b-tag>
              </b-taglist>
            </template>
            <template v-else-if="field.tag">
              <b-taglist v-if="getValueByPath(props.row, field.name)">
                <b-tag type="is-info" @click.native="tagClick(props.row)">{{ getValueByPath(props.row, field.name) }}</b-tag>
              </b-taglist>
            </template>
            <template v-else>
              {{ getValueByPath(props.row, field.name) }}
            </template>
          </b-table-column>
        </template>
        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon
                  icon="emoticon-sad"
                  size="is-large">
                </b-icon>
              </p>
              <p>Nothing here.</p>
            </div>
          </section>
        </template>
      </b-table>
      <slot v-if="pagination" name="pagination">
        <div class="level">
          <div class="level-left">
            <strong>Total:   {{ totalCount }} </strong>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="pagination">
                <a @click="$emit('nextPage')" class="pagination-next is-rounded"><font-awesome-icon :icon="chevron"></font-awesome-icon></a>
              </div>
            </div>
          </div>
        </div>
      </slot>
    </div>


    <footer v-if="footer" class="card-footer">
      <p class="card-footer-item">
        <slot>
          {{ footer }}
        </slot>
      </p>
    </footer>
  </div>
</template>

<script>
  import { DateTime } from 'luxon';
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import Check from '@fortawesome/fontawesome-pro-solid/faCheck';
  import Times from '@fortawesome/fontawesome-pro-solid/faTimes';
  import Chevron from '@fortawesome/fontawesome-pro-solid/faChevronRight';

  import { getValueByPath } from "../assets/utils";
  import hashcolor from './hashcolor';

  export default {
    name: 'recent-list',
    components: {
      hashcolor,
      FontAwesomeIcon,
    },
    props: {
      title: {
        title: [String, Boolean],
      },
      fields: {
        type: Array,
      },
      list: {
        type: Array,
      },
      loading: {
        type: Number,
        default: 0,
      },
      footer: {
        type: [String, Boolean]
      },
      pagination: {
        type: Boolean,
      },
      totalCount: {
        type: Number,
      },
    },
    data() {
      return {
        getValueByPath,
      };
    },
    computed: {
      chevron() {
        return Chevron;
      },
    },
    methods: {
      event(row) {
        this.$emit('click', row);
      },
      hashClick(row){
        this.$emit('hashClick', row);
      },
      tagClick(row){
        this.$emit('tagClick', row);
      },
      niceDate(date) {
        return DateTime.fromISO(date).toLocal().toLocaleString(DateTime.DATETIME_MED_WITH_SECONDS);
      },
      boolIcon(bool) {
        return bool ? Check : Times;
      }
    },
};
</script>

<style scoped>
  td {
    cursor: pointer;
  }
</style>
